.try {
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromBottom;
  width: 50%;
  color: white;
}

.try-static {
  width: 50%;
  color: white;
}
