/* .stats {
  animation-name: slidein;
  animation-duration: 1s;
} */

a.styled,
a.styled:visited {
  text-decoration: none;
  color: gold;
}

a.styled:hover {
  color: goldenrod;
}

.anchor {
  display: block;
  position: relative;
  top: -65px;
  visibility: hidden;
}

.anchor-uniswap {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    margin-top: 100px;
  }

  to {
    margin-top: default;
  }
}
